nav {
    height: 5rem;
    width: 100vw;
    position: fixed;
    background: var(--color-primary);
    top: 0;
    z-index: 10;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
}

nav .phone-button{
    display: none;
}

.nav-container{
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

.profile-img{
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;
    border: 3px solid var(--color-bg);
    overflow: hidden;
}

nav .logo{
    font-size: 1.9rem;
    font-weight: 400;
    color: var(--color-white);
}
nav .logo span{
    color: var(--color-danger);
}




nav .nav-link{
    display: flex;
    gap: 3rem;
    margin: 0;
    align-items: center;
}

.nav-link a{
    color: var(--color-white);
    font-size: 300;
}

.nav-link a:hover{
    color: var(--color-black);
}

nav .nav-profile{
    cursor: pointer;
    position: relative;
}

nav .nav-profile ul{
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 0;
    top: 128%;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
    visibility: hidden;
    opacity: 0;
}

.nav-profile ul li a{
    display: block;
    padding: 1rem;
    background: var(--color-success);
    border-radius: var(--border-radius-1);
}

.nav-profile ul li:last-child a{
    background: var(--color-danger);
}

.nav-profile:hover ul{
    visibility: visible;
    opacity: 1;
}


/*---------------------res---------*/
@media (max-width: 1024px) {
    h2{
        font-size: 1.6rem;
    }
    h3{
        font-size: 1.2rem;
    }
    h4{
        font-size: .8rem;
    }

    /*----------NAV-------*/
    nav .phone-button{
        display: inline-block;
        font-size: 2rem;
        background: transparent;
        color: var(--color-white);
        cursor: pointer;
    }
    .nav-container{
        position: relative;
    }
    nav .nav-link{
        position: absolute;
        right: 0;
        flex-direction: column;
        gap: 0 !important;
        width: 12rem;
        align-items: flex-start;
        justify-content: center;
        top: 5rem;
        
        
    }
    .nav-link li{
        width: 100%;
        display: flex;
        align-items: center;
        height: 4.5rem;
        box-shadow: 2rem 3rem 7rem rgba(0, 0, 0, 0.7);
        
    }
    .nav-link li a {
        width: 100%;
        height: 100%;
        background: var(--color-gray-1);
        display: flex;
        align-items: center;
        padding: 0 2rem ;
    }
    .nav-link li a:hover{
        opacity: 0.85;
        color: var(--color-white);


    }

    nav ul li:last-child{
        background: var(--color-gray-1);
    } .nav-profile{
        margin: 0 auto;
    }

   
    /*nav .phone-button{
        display: inline-block;
        font-size: 2rem;
        background: transparent;
        color: var(--color-white);
        cursor: pointer;
    }
    nav .Close{
        display: none;
    }
    .nav-container{
        position: relative;
    }
    nav .nav-link{
        position: absolute;
        right: 0;
        flex-direction: column;
        gap: 0 !important;
        width: 12rem;
        align-items: flex-start;
        justify-content: center;
        top: 5rem;
        display: none;
    }
    .nav-link li{
        width: 100%;
        display: flex;
        align-items: center;
        height: 4.5rem;
        box-shadow: 2rem 3rem 7rem rgba(0, 0, 0, 0.7);
    }
    .nav-link li a {
        width: 100%;
        height: 100%;
        background: var(--color-gray-1);
        display: flex;
        align-items: center;
        padding: 0 2rem ;
    }
    nav ul li:last-child{
        background: var(--color-gray-1);
    }
    .nav-profile{
        margin: 0 auto;
    }*/
    

}
    